* {
    main-bg:            #093737B3;
    main-fg:            #CCFFFFE6;
    main-br:            #9C926FE6;
    main-ex:            #465350E6;
    select-bg:          #F0AAF080;
    select-fg:          #522952E6;
}
