* {
    main-bg:            #1D1D18B3;
    main-fg:            #FFFFCCE6;
    main-br:            #90857AE6;
    main-ex:            #534B42E6;
    select-bg:          #F0CBAA80;
    select-fg:          #523C29E6;
}
