* {
    main-bg:            #241C28B3;
    main-fg:            #EECCFFE6;
    main-br:            #A64D49E6;
    main-ex:            #47536BE6;
    select-bg:          #F0C6AA80;
    select-fg:          #523929E6;
}
