@define-color bar-bg rgba(36,28,40,0.01);
@define-color main-bg rgba(36,28,40,0.8);
@define-color main-fg rgba(217,170,240,0.8);
@define-color wb-act-bg rgba(228,171,134,0.4);
@define-color wb-act-fg rgba(255,224,204,1);
@define-color wb-hvr-bg rgba(75,92,125,0.4);
@define-color wb-hvr-fg rgba(240,173,170,0.8);
