@define-color bar-bg rgba(29,29,24,0.01);
@define-color main-bg rgba(29,29,24,0.8);
@define-color main-fg rgba(240,240,170,0.8);
@define-color wb-act-bg rgba(200,188,177,0.4);
@define-color wb-act-fg rgba(255,228,204,1);
@define-color wb-hvr-bg rgba(125,101,75,0.4);
@define-color wb-hvr-fg rgba(240,205,170,0.8);
